.titleaboveslider-wrapper .titleaboveslider > div {
    display: flex;
    position: relative;
    flex-direction: row; 
    margin-bottom: 30px;
    gap: 30px;
  }

  .titleaboveslider-wrapper .titleaboveslider > div :first-child {
    margin-right: auto; 
    font-size: 60px;
    font-family: 'Noto Serif', serif;
    width: 40vh;
    line-height: 70px;
  }
  
  .titleaboveslider-wrapper .titleaboveslider > div {
    margin-left: auto; 
    align-items: flex-end; 
    font-size: 15px;
  }
