.hotelsresorts-wrapper .hotelsresorts > div > div > picture > img {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(2) {
  position: relative;
  margin-top: 0vh;
  align-self: stretch;
  max-width: 567px;
  margin-left: -4vh;
  padding-top: 6vh;
  text-align: left;

  color: var(--Grayscale-White, #fff);
  font-feature-settings: "clig" off, "liga" off;

  /* Display/Display - M */
  font-family: "Noto Serif";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 75px */
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(3) {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 53vh;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: -6vh;
  padding: 0.5rem 57px;
  gap: 1rem;
  transform: translateY(-66px);

  color: var(--Grayscale-White, #fff);
  font-feature-settings: "clig" off, "liga" off;

  /* Ui/Ui - L Light */
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%; /* 20px */
  /* margin-bottom: 100vh; */
}

@media (min-width: 1200px) {
  .hotelsresorts-wrapper .hotelsresorts > div:nth-child(3) {
    margin-bottom: 220px;
  }
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(4) > div:nth-child(1) {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0vh;
  margin-right: auto;
  /* margin-bottom: 25px; */
  margin-top: 45px;
  padding: 0.5rem 0;
  gap: 1rem;

  color: var(--Grayscale-White, #fff);
  font-feature-settings: "clig" off, "liga" off;

  /* Display/Display - XXS Regular */
  font-family: "Noto Serif";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 37.5px */
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(4) > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -1125px;
  margin-right: auto;
  margin-bottom: -244px;
  margin-top: -3vh;
  padding: 0.5rem 0;
  gap: 1rem;
  max-width: 24vh;
  text-align: justify;

  color: var(--Grayscale-White, #fff);
  font-feature-settings: "clig" off, "liga" off;

  /* Text/Text - S Light */
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%; /* 22.5px */
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(4) > div:nth-child(3) {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--Grayscale-White, #fff);
  color: var(--Grayscale-White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  width: 59px;
  height: 21px;
  margin-bottom: -45vh;
  transform: translateX(-1078px);
}

.hotelsresorts-wrapper .hotelsresorts > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 70px;
  padding: 0.5rem 0;
  gap: 1rem;
  color: var(--Grayscale-500, #575757);
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-feature-settings: "clig" off, "liga" off;
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(5) {
  position: relative;
  background-color: transparent;
  margin-left: 556px;
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(5) > div > picture > img {
  width: 192px;
  height: 278px;
  top: -192px;
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(5) > div:nth-child(2) {
  position: relative;
  transform: translateX(-1px);
  bottom: 46px;
  left: 3px;
  color: white;
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(5) > div:nth-child(3) {
  position: absolute;
  bottom: -22px;
  left: 35px;
  transform: translateX(-50%);
  color: white;
  padding: 5px;
  font-size: 1rem;
  max-width: 34px;
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(6) {
  position: relative;
  background-color: transparent;
  margin-left: 501px;
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(6) > div > picture > img {
  width: 192px;
  height: 278px;
  top: -301px;
  transform: translateX(268px);
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(6) > div:nth-child(2) {
  position: relative;
  transform: translateX(-1px);
  bottom: 152px;
  left: 284px;
  color: white;
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(6) > div:nth-child(3) {
  position: absolute;
  bottom: 85px;
  left: 318px;
  transform: translateX(-50%);
  color: white;
  padding: 5px;
  font-size: 1rem;
  max-width: 34px;
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(7) {
  position: relative;
  background-color: transparent;
  margin-left: 488px;
  margin-bottom: 218px;
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(7) > div > picture > img {
  width: 192px;
  height: 278px;
  top: -410px;
  transform: translateX(494px);
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(7) > div:nth-child(2) {
  position: relative;
  transform: translateX(-1px);
  bottom: 262px;
  left: 504px;
  color: white;
}

.hotelsresorts-wrapper .hotelsresorts > div:nth-child(7) > div:nth-child(3) {
  position: absolute;
  bottom: 195px;
  left: 538px;
  transform: translateX(-50%);
  color: white;
  padding: 5px;
  font-size: 1rem;
  max-width: 34px;
}
