.hotelsresorts-container .swiper-wrapper .swiper-slide > div > picture > img {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.hotelsresorts-container .swiper-wrapper .swiper-slide:nth-child(2) {
  background-color: #69ff47;
  position: relative;
  margin-top: 0vh;
  align-self: stretch;
  max-width: 567px;
  margin-left: -4vh;
  padding-top: 6vh;
  text-align: left;

  color: var(--Grayscale-White, #fff);
  font-feature-settings: "clig" off, "liga" off;

  /* Display/Display - M */
  font-family: "Noto Serif";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 75px */
}

.hotelsresorts-container .swiper-wrapper .swiper-slide:nth-child(3) {
  background-color: #ff6347;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 53vh;
  margin-right: auto;
  margin-bottom: 25px;
  margin-top: -6vh;
  padding: 0.5rem 57px;
  gap: 1rem;
  transform: translateY(-66px);

  color: var(--Grayscale-White, #fff);
  font-feature-settings: "clig" off, "liga" off;

  /* Ui/Ui - L Light */
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%; /* 20px */
  /* margin-bottom: 100vh; */
}

.hotelsresorts-container
  .swiper-wrapper
  .swiper-slide:nth-child(4)
  > div:nth-child(1) {
  background-color: yellow;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 0vh;
  margin-right: auto;
  /* margin-bottom: 25px; */
  margin-top: 45px;
  padding: 0.5rem 0;
  gap: 1rem;

  color: var(--Grayscale-White, #fff);
  font-feature-settings: "clig" off, "liga" off;

  /* Display/Display - XXS Regular */
  font-family: "Noto Serif";
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 37.5px */
}

.hotelsresorts-container
  .swiper-wrapper
  .swiper-slide:nth-child(4)
  > div:nth-child(2) {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -1125px;
  margin-right: auto;
  margin-bottom: -244px;
  margin-top: -3vh;
  padding: 0.5rem 0;
  gap: 1rem;
  max-width: 24vh;
  text-align: justify;

  color: var(--Grayscale-White, #fff);
  font-feature-settings: "clig" off, "liga" off;

  /* Text/Text - S Light */
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%; /* 22.5px */
}

.hotelsresorts-container
  .swiper-wrapper
  .swiper-slide:nth-child(4)
  > div:nth-child(3) {
  display: flex;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--Grayscale-White, #fff);
  color: var(--Grayscale-White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Noto Sans";
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
  width: 59px;
  height: 21px;
  margin-bottom: -45vh;
  transform: translateX(-1078px);
}

.swiper-wrapper .swiper-slide > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 70px;
  padding: 0.5rem 0;
  gap: 1rem;
  color: var(--Grayscale-500, #575757);
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-feature-settings: "clig" off, "liga" off;
}

.swiper-wrapper .swiper-slide > div:nth-child(5) {
  position: relative;
  background-color: transparent;
  margin-left: 556px;
}

.swiper-wrapper .swiper-slide > div:nth-child(5) > div > picture > img {
  width: 192px;
  height: 278px;
  top: -192px;
}

.swiper-wrapper .swiper-slide > div:nth-child(5) > div:nth-child(2) {
  position: relative;
  transform: translateX(-1px);
  bottom: 46px;
  left: 3px;
  color: white;
  font-family: "Noto Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}

.swiper-wrapper .swiper-slide > div:nth-child(5) > div:nth-child(3) {
  position: absolute;
  bottom: -22px;
  left: 35px;
  transform: translateX(-50%);
  color: white;
  padding: 5px;
  font-size: 1rem;
  max-width: 34px;
  text-transform: uppercase;
}

.swiper-wrapper .swiper-slide > div:nth-child(6) {
  position: relative;
  background-color: transparent;
  margin-left: 501px;
}

.swiper-wrapper .swiper-slide > div:nth-child(6) > div > picture > img {
  width: 192px;
  height: 278px;
  top: -301px;
  transform: translateX(268px);
}

.swiper-wrapper .swiper-slide > div:nth-child(6) > div:nth-child(2) {
  position: relative;
  transform: translateX(-1px);
  bottom: 152px;
  left: 284px;
  color: white;
  font-family: "Noto Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}

.swiper-wrapper .swiper-slide > div:nth-child(6) > div:nth-child(3) {
  position: absolute;
  bottom: 85px;
  left: 318px;
  transform: translateX(-50%);
  color: white;
  padding: 5px;
  font-size: 1rem;
  max-width: 34px;
  text-transform: uppercase;
}

.swiper-wrapper .swiper-slide > div:nth-child(7) {
  position: relative;
  background-color: transparent;
  margin-left: 488px;
  margin-bottom: 218px;
}

.swiper-wrapper .swiper-slide > div:nth-child(7) > div > picture > img {
  width: 192px;
  height: 278px;
  top: -410px;
  transform: translateX(494px);
}

.swiper-wrapper .swiper-slide > div:nth-child(7) > div:nth-child(2) {
  position: relative;
  transform: translateX(-1px);
  bottom: 262px;
  left: 504px;
  color: white;
  font-family: "Noto Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}

.swiper-wrapper .swiper-slide > div:nth-child(7) > div:nth-child(3) {
  position: absolute;
  bottom: 195px;
  left: 538px;
  transform: translateX(-50%);
  color: white;
  padding: 5px;
  font-size: 1rem;
  max-width: 34px;
  text-transform: uppercase;
}

/* .swiper-wrapper {
  background-color: yellow;
} */
/* .swiper-wrapper > div:nth-child(1) {
  background-color: aqua;
} */
.section.swiper-container.columns-container > div:nth-of-type(3) {
  background-color: #69ff47;
}
.section.swiper-container.columns-container > div:nth-of-type(2) {
  background-color: #ff6347;
  background-image: url("https://poc-pestana-contentstack.vercel.app/_next/image?url=%2Ficons%2Fic-arrow-right%2FSize%3D20.svg&w=32&q=75");
  background-size: cover;
  color: transparent;
  margin-top: 310vh;
  margin-right: 70vh;
  font-family: initial;
  font-size: large;
  text-transform: initial !important;
  letter-spacing: initial;
  font-variant: initial;
  line-height: 1.6;
}
/* .section.swiper-container.columns-container > div:nth-of-type(3) {
  background-color: #69ff47;
  background-image: url("https://poc-pestana-contentstack.vercel.app/_next/image?url=%2Ficons%2Fic-arrow-left%2FSize%3D20.svg&w=32&q=75");
  background-size: cover;
  color: transparent;
  margin-top: 295vh;
  margin-left: 70vh;
  font-family: initial;
  font-size: large;
  text-transform: initial !important;
  letter-spacing: initial;
  font-variant: initial;
  line-height: 1.6;
} */

/* .swiper-container .swiper-button-next:after,
.swiper-container .swiper-rtl .swiper-button-prev:after {
  background-image: url("https://poc-pestana-contentstack.vercel.app/_next/image?url=%2Ficons%2Fic-arrow-right%2FSize%3D20.svg&w=32&q=75");
  background-size: cover;
  color: transparent;
  margin-top: 310vh;
  margin-right: 70vh;
  font-family: initial;
  font-size: large;
  text-transform: initial !important;
  letter-spacing: initial;
  font-variant: initial;
  line-height: 1.6;
} */

/* .swiper-container .swiper-button-prev:after,
.swiper-container .swiper-rtl .swiper-button-prev:after {
  background-image: url("https://poc-pestana-contentstack.vercel.app/_next/image?url=%2Ficons%2Fic-arrow-left%2FSize%3D20.svg&w=32&q=75");
  background-size: cover;
  color: transparent;
  margin-top: 295vh;
  margin-left: 70vh;
  font-family: initial;
  font-size: large;
  text-transform: initial !important;
  letter-spacing: initial;
  font-variant: initial;
  line-height: 1.6;
} */
