.naturalresources-wrapper
  .defaultnaturalresources-content-wrapper
  > div:first-child {
  font-family: Noto Serif;
  font-size: 50px;
  font-weight: 500;
  line-height: 63px;
  letter-spacing: 0px;
  text-align: left;
  font-variation-settings: "wdth" 100, "CTGR" 50;
  width: 490px;
  height: 189px;
  margin-top: 280px;
  margin-left: 82px;
  margin-bottom: 158px;
}
.naturalresources-wrapper
  .defaultnaturalresources-content-wrapper
  > div:nth-child(2)
  > div {
  font-family: Noto Sans;
  font-size: 18px;
  font-weight: 300;
  line-height: 23px;
  letter-spacing: 0px;
  text-align: left;
  width: 490px;
  height: 46px;
  margin-bottom: -390px;
  margin-left: 82px;
}

.naturalresources-wrapper
  .swiper-wrapper
  .swiper-slide
  > div
  > div
  > picture
  > img {
  width: 304px;
  height: 374px;
  border-radius: 12px;
  object-fit: cover;
  padding: 0;
  margin-top: 11px;
  margin-bottom: 147px;
}

.naturalresources-wrapper .swiper-slide > div > div:nth-child(2) {
  margin-left: 21px;
  margin-top: -261px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 225px;
  padding: 0.5rem 0;
  gap: 1rem;
  color: white;
  font-family: "Noto Sans";
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
}
