/* --destinyfilters-- */

.destinyfilters-wrapper .destinyfilters > div > div > picture > img {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
  /* transform: translateY(373px); */
}

.destinyfilters-wrapper::after {
  content: "";
  position: absolute;
  top: 223vh;
  left: 10vw;
  width: 90vw;
  height: 117vh;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  z-index: -1;
}

.destinyfilters-wrapper .destinyfilters > div:nth-child(2) {
  position: relative;
  margin-top: 20vh;
  /* margin-top: 48vh; */
  align-self: stretch;
  color: var(--Grayscale-Black, #000);
  font-feature-settings: "clig" off, "liga" off;

  /* Display/Display - M */
  font-family: "Noto Serif";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 75px */
  max-width: 526px;
  /* margin-left: -120px; */
  margin-left: -1rem;
  text-align: left;
}

.destinyfilters-wrapper .destinyfilters > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: -1%;
  margin-right: auto;
  margin-bottom: 25px;
  padding: 0.5rem 0;
  /* gap: 4rem; */
  gap: 1rem;
  color: var(--Grayscale-500, #575757);
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%;
  font-feature-settings: "clig" off, "liga" off;
}

.destinyfiltersarrows-wrapper .destinyfiltersarrows > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-left: 93px;
  width: 15%;
  margin-top: -60px;
  /* gap: 105px; */
  gap: 9rem;
  /* margin-left: -22px; */
  margin-left: 5rem;
}

/* .destinyfilters-wrapper
  .destinyfilters
  > div
  > div:nth-child(4)
  > picture
  > img {
  background-color: aqua;
} */

.destinyfilters-wrapper
  .destinyfilters
  > div:nth-child(3)
  > div
  > picture
  > img {
  /* background-color: chartreuse; */
  position: initial;
  height: 1vh;
  /* transform: translateX(-57px); */
  transform: translateX(-13px);
}

.destinyfilters-wrapper
  .destinyfilters
  > div:nth-child(4)
  > div
  > picture
  > img {
  /* background-color: chartreuse; */
  position: static;
  display: flex;
}
.destinyfilters-wrapper .destinyfilters > div:nth-child(5) > div {
  /* background-color: violet; */
  position: static;
  display: flex;
  /* margin-left: 1.8vh; */
  padding-left: 2.7%;
  margin-top: -3vh;
  margin-bottom: 35%;
  color: var(--Grayscale-Black, #000);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Ui/Ui - M Medium */
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%;
}
