.titleDestinyFilters {
  color: var(--Grayscale-Black, #000);
  font-feature-settings: "clig" off, "liga" off;

  /* Display/Display - M */
  font-family: Noto Serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 75px */
}
