.swiper-slide {
    position: relative;
    overflow: hidden;
    border-radius: 15px;
}

.swiper-slide img {
    width: 330.75px;
    height: 441px;
    object-fit: cover;
    border-radius: 15px; 
}

.swiper-slide > div:nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 441px;  
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
    border-radius: 15px; 
    z-index: 1;
}

  .swiper-slide > div:nth-child(3),
  .swiper-slide > div:nth-child(4) {
    position: absolute; 
    color: #fff;
    font-size: 16px;
    margin-left: 4vh;
    margin-top: 38vh;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .swiper-slide > div:nth-child(4) {
    margin-top: 40vh;
    padding-top: 1vh;
  }

  .swiper-slide > div:nth-child(5) {
    position: absolute;
    color: #000;
    top: 0;
    left: 0;
    font-size: 16px;
    border-radius: 15px;
    margin-top: 3vh;
    margin-left: 4vh;
  }

  .swiper-slide > div:nth-child(5):not(:empty) {
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #fff;
    border-radius: 100%;
    height: 46px;
    width: 46px;
    font-weight: bold;
  }

  
  .swiper-wrapper {
    display: flex;
  }
  
  .swiper {
    overflow: hidden;
  }
  

  /* TITLE ABOVE SLIDER */

  .default-content-wrapper {
    display: flex;
}

.default-content-wrapper h2 {
    font-size: 60px;
    font-weight: lighter;
    text-align: left;
    width: 40vh;
    font-family: 'Noto Serif', serif;
    margin-right: 20px;
}

.default-content-wrapper h3 {
    display: flex;
    line-height: 15px;
    font-size: 16px;
    height: 30px;
    margin-top: 20vh;
    margin-left: 2vh;
    font-weight: lighter;
    font-family: 'Noto Serif', serif;
}

.default-content-wrapper h3:first-of-type {
    margin-left: 67vh; 
}


  /* ARROWS */

.swiper-container .swiper-button-next:after, 
.swiper-container .swiper-rtl .swiper-button-prev:after {
    background-image: url('https://poc-pestana-contentstack.vercel.app/_next/image?url=%2Ficons%2Fic-arrow-right%2FSize%3D20.svg&w=32&q=75');
    background-size: cover;
    color: transparent;
    margin-top: 295vh;
    margin-right: 70vh;
    font-family: initial;
    font-size: large;
    text-transform: initial !important;
    letter-spacing: initial;
    font-variant: initial;
    line-height: 1.6;
}

.swiper-container .swiper-button-prev:after, 
.swiper-container .swiper-rtl .swiper-button-prev:after {
    background-image: url('https://poc-pestana-contentstack.vercel.app/_next/image?url=%2Ficons%2Fic-arrow-left%2FSize%3D20.svg&w=32&q=75');
    background-size: cover;
    color: transparent;
    margin-top: 295vh;
    margin-left: 70vh;
    font-family: initial;
    font-size: large;
    text-transform: initial !important;
    letter-spacing: initial;
    font-variant: initial;
    line-height: 1.6;
}




@media (max-width: 899px) {
    .swiper-slide img {
        max-width: 100% !important;
    }
    
 }
