.banner-wrapper .banner > div > div > picture > img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(0.9);
}

.banner-wrapper .banner > div:nth-child(2){
    position: relative;
    font-size: 60px;
    font-weight: 500;
    margin-top: 470px;
    font-family: Noto Serif,serif;
    color: #fff;
}


.banner-wrapper .banner > div:nth-child(3) {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 200px;
    background-color: #fff;
    border-radius: 40px;
    padding: 20px;
    color: #A4A4A4;
}

.banner-wrapper .banner>div:nth-child(3)>div:last-child {
    background-color: black;
    color: #ffffff;
    padding: 5px;
    padding-right: 25px;
    padding-left: 15px;
    border-radius: 20px;
    font-size: medium;
}

.banner-wrapper .banner>div:nth-child(3)>div:last-child img {
    width: 15px;
    height: 15px;
    filter: brightness(0) invert(1);
}

.banner-wrapper .banner>div> :not(:first-child):not(:last-child) {
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    padding-left: 15px;
    padding-right: 60px;
}

ul {
    padding: 0;
    margin: 0;
}

ul>li {
    position: relative;
    cursor: pointer;
}

ul>li>ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

ul>li>ul>li {
    padding: 10px;
}

ul>li:hover>ul {
    display: block;
}
