.advantages {
    display: flex;
    justify-content: space-between;
  }

.advantages img {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 60px;
    height: 60px;
  }
  
  

  