.advantage-caption {
  color: var(--Grayscale-Black, #000);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
  margin-top: 10px;
}
/* .advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
} */

.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;

  color: var(--Grayscale-Black, #000);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;

  /* Ui/Ui - L Light */
  font-family: Noto Sans;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%; /* 20px */
}

.advantages > div {
  flex-basis: 20%;
  max-width: 20%;
}

.advantages img {
  width: 60px;
  height: auto;
  margin: 0 auto;
}

.advantages div {
  margin-top: 10px;
  font-size: medium;
}

@media (max-width: 768px) {
  .advantages > div {
    flex-basis: 100%;
    max-width: 100%;
  }

  .advantages {
    justify-content: center;
  }
}

.default-content-wrapper p:first-child {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 1px;
  text-align: center;
  color: #989898;
  margin-bottom: 13px;
}

.default-content-wrapper p:last-child {
  font-family: "Noto Serif", serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0px;
  text-align: center;
  font-variation-settings: "wdth" 100, "CTGR" 46;
  color: #000000;
  margin-bottom: 40px;
}

.advantages-wrapper {
  margin: 20px;
}
.advantages-container .button-container a:hover {
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  text-decoration: underline;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}

.advantages-container .button-container .button.primary {
  display: inline-block;
  width: 152px;
  height: 44px;
  padding: 12px 24px;
  border-radius: 100px;
  border: 1px solid;
  gap: 8px;
  text-align: center;
  line-height: 20px;
  font-size: 16px;
  text-decoration: none;
  color: #ffffff;
  text-overflow: inherit;
  margin-top: 50px;
}

a.button.primary {
  color: #000000;
}

/* --destinyfilters-- */

/* tests */
/* .destinyfilters-wrapper .destinyfilters > div > div > picture > img {
  position: absolute;
  left: 0 !important;
  width: 100%;
  max-width: 100%;
  height: 935px;
  object-fit: cover;
  z-index: -1;
} */

.destinyfilters-wrapper .destinyfilters > div > div > picture > img {
  position: absolute;
  left: 0;
  width: 100%;
  height: auto;
  object-fit: cover;
  z-index: -1;
}

.destinyfilters-wrapper::after {
  content: "";
  position: absolute;
  top: 1709px;
  left: 114px;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0)
  );
  z-index: -1;
}

.destinyfilters-wrapper .destinyfilters > div:nth-child(2) {
  position: relative;
  margin-top: 20vh;
  align-self: stretch;
  color: var(--Grayscale-Black, #000);
  font-feature-settings: "clig" off, "liga" off;

  /* Display/Display - M */
  font-family: "Noto Serif";
  font-size: 60px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 75px */
  max-width: 526px;
  margin-left: -120px;
  text-align: left;
}

.destinyfilters-wrapper .destinyfilters > div {
  margin-left: auto;
  align-items: flex-end;
  display: flex;
  padding: 8px 0px;
  align-items: center;
  gap: 10px;
  color: var(--Grayscale-500, #575757);
  font-feature-settings: "clig" off, "liga" off;

  /* Text/Text - S Regular */
  font-family: "Noto Sans";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 125%; /* 22.5px */
}

.destinyfilters-wrapper .destinyfilters > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
  gap: 80px;
  /* padding-left: 64px; */
  margin-left: -115px;
}

.destinyfiltersarrows-wrapper .destinyfiltersarrows > div {
  display: flex;
  flex-direction: row;
  margin-bottom: 30px;
  margin-left: 93px;
  width: 190px;
  margin-top: -58px;
  gap: 152px;
  /* padding-left: 64px; */
  margin-left: -24px;
}

.destinyfiltersimg {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 2;
  margin-bottom: 500px;
  color: var(--Grayscale-Black, #000);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  /* padding-left: 64px; */
  left: -110px;

  /* Ui/Ui - M Medium */
  font-family: "Noto Sans";
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 125%; /* 17.5px */
}

.destinyfiltersimg > div {
  margin: 10px;
}
