.advantage-caption {
  color: var(--Grayscale-Black, #000);
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 125%;
  margin-top: 10px;
}
.advantages {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
}

.advantages > div {
  flex-basis: 20%;
  max-width: 20%;
}

.advantages img {
  width: 60px;
  height: 60px;
  margin: 0 auto;
}

.advantages div {
  margin-top: 10px;
}

@media (max-width: 768px) {
  .advantages > div {
    flex-basis: 100%;
    max-width: 100%;
  }

  .advantages {
    justify-content: center;
  }
}
