footer {
  padding: 5rem;
  background-color: #575757;
  font-size: var(--body-font-size-s);
}

footer .footer {
  max-width: 1200px;
  margin: auto;
}

footer .footer p {
  margin: 0;
}

.table1,
.hotelgroup,
.vantagenspestana,
.experiencias,
.grupopestana,
.contactos,
.copyright,
.followus {
  color: #fff;
}

.followus {
  position: absolute;
  margin-left: -12em;
  display: flex;
  flex-direction: column;
  gap: 11em;
}

.icons div {
  display: flex;
  margin-left: -2.4em;
  position: relative;
  top: 8.5em;
}

.icons div img {
  position: absolute;
  width: 20px;
  height: 20px;
}

.table1 div {
  display: flex;
  margin-right: 5em;
  margin-left: 2em;
  white-space: nowrap;
}

.table1 div:nth-child(5) {
  margin-left: 9.5em;
}

.hotelgroup,
.vantagenspestana,
.experiencias,
.grupopestana,
.contactos {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  line-height: 2em;
  white-space: nowrap;
  text-align: left;
}

.hotelgroup {
  margin-left: 6%;
}

.vantagenspestana {
  margin-left: 26.5%;
  margin-top: -24%;
}

.experiencias {
  margin-left: 52.5%;
  margin-top: -6%;
}

.grupopestana {
  margin-left: 73.5%;
  margin-top: -5.5%;
}

.contactos {
  margin-left: 107.5%;
  margin-top: -8.5%;
}

.line {
  width: 140%;
  display: flex;
  height: 1px;
  background-color: #fff;
  margin-top: 15%;
  margin-left: -20%;
}

.copyright div {
  margin-top: 0.5em;
  display: flex;
  margin-right: 7.5em;
  margin-left: -6.5em;
  white-space: nowrap;
}

.copyright div:nth-child(5) {
  margin-left: 50em;
  font-size: 0.7em;
}