
footer {
  padding: 15px;
  padding-top: 30px;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #575757;
  font-size: var(--body-font-size-s);
}

.footer > div > div{
  display:flex;
  flex-flow: row wrap;
  gap: 30px;
}

.footer > div > div > div:not(:first-child) {
  flex: 1 1 5%;
}

.footer > div > div > div:nth-child(1){
  flex: 1 1 5%;
  align-self: flex-start;
}

.followus > div:nth-child(1)  div:nth-child(2){
  display:flex;
  margin-top: 85%;
}

.followus > div:nth-child(2) {
  display: flex;
  gap: 30px;
}

.followus a img {
  width: 30px; 
  height: 30px; 
}

.hotelgroup,
.vantagenspestana,
.experiencias,
.grupopestana,
.contactos,
.followus {
  line-height: 2em;
  text-align: left;
  color: #fff;
}

.hotelgroup-wrapper,
.vantagenspestana-wrapper,
.experiencias-wrapper,
.grupopestana-wrapper,
.contactos-wrapper,
.followus-wrapper {
  margin-top: inherit !important;
}


.line {
  height: 1px;
  width: 100%;
  background-color: #fff;
}
.copyright {
  color: #fff;
  width: 120%;
}

.copyright > div {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.copyright > div > div:nth-child(5) {
  display:flex !important;
  justify-content: flex-end !important;
}

@media only screen and (max-width: 1140px) {
  .footer > div > div{
    display:block;
    
  }
  
  .followus > div:nth-child(1)  div:nth-child(2){
    margin-top: 5%;
  }

  .copyright > div {
    display: block;
    text-align: left;
    padding-top: 5%;
  }
  .line{
margin-top: 5%;
  }

  .copyright > div > div:nth-child(5) {
    display:block !important;
  }

  .hotelgroup-wrapper,
.vantagenspestana-wrapper,
.experiencias-wrapper,
.grupopestana-wrapper,
.contactos-wrapper,
.followus-wrapper {
  padding-top: 5%;
}
}
