/* SLIDER */
.slider-wrapper {
    overflow: hidden;
    width: 100%;
}

.slider-wrapper .slider {
    position: relative;
    display: flex;
    transition: transform 1s ease;
    flex-direction: column;
    width: max-content;
}


.slider-wrapper .slider > div {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 30px;  
}

.slider-wrapper .slider picture {
    position: relative;
    flex-shrink: 0;
}

.slider-wrapper .slider picture img {
    width: 330.75px;
    height: 441px;
    object-fit: cover;
    border-radius: 15px;
}

.slider-wrapper .slider > div:nth-child(2) {
    position: absolute;
}

.slider-wrapper .slider > div:nth-child(2) div {
    height: 441px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
}

.slider-wrapper .slider > div:nth-child(3),
.slider-wrapper .slider > div:nth-child(4){
    position: absolute;
    color: #fff;
    font-size: 16px;
    border-radius: 15px;
    text-align: left;
    margin-left: 4vh;
    margin-top: 38vh;
}

.slider-wrapper .slider > div:nth-child(4) {
    margin-top: 40vh;
    padding-top: 1vh;
}

.slider-wrapper .slider > div:nth-child(2) div,
.slider-wrapper .slider > div:nth-child(3) div,
.slider-wrapper .slider > div:nth-child(4) div{
    display: flex;
    width: 330.75px;
    object-fit: cover;
    border-radius: 15px;
}


.slider-wrapper .slider > div:nth-child(5) {
    position: absolute;
    color: #000;
    font-size: 16px;
    border-radius: 15px;
    text-align: left;
  
}

.slider-wrapper .slider > div:nth-child(5) div {
    margin-right: 330.75px;
    margin-top: 3vh;
    margin-left: 4vh;
}

.slider-wrapper .slider > div:nth-child(5) div:not(:empty) {
    display: flex;
    justify-content:center;
    align-items:center;
    background-color: #fff;
    border-radius: 100%;
    height: 46px;
    width: 46px;
    font-weight: bold;
}
.slider-wrapper .slider > div:nth-child(5) div:nth-child(1) {
    margin-right: 300px;
}

.slider-wrapper .slider > div:nth-child(5) div:nth-child(3) {
    margin-right: 200px;
}

.slider-wrapper .slider > div:nth-child(5) div:nth-child(4) {
    margin-right: 250px;
}


/* TITLE ABOVE SLIDER */

.default-content-wrapper {
    display: flex;
}

.default-content-wrapper h2 {
    font-size: 60px;
    font-weight: lighter;
    width: 40vh;
    font-family: 'Noto Serif', serif;
    margin-right: 20px; /* Add space to the right of h2 */
}

.default-content-wrapper h3 {
    display: flex;
    line-height: 15px;
    font-size: 16px;
    height: 30px;
    margin-top: 20vh;
    margin-left: 2vh;
    font-weight: lighter;
    font-family: 'Noto Serif', serif;
}

.default-content-wrapper h3:first-of-type {
    margin-left: 67vh; 
}

  /* ARROWS */

.arrows-wrapper > .arrows div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    cursor: pointer; 
}





@media (max-width: 899px) {
    .slider-wrapper .slider picture img {
        max-width: 100% !important;
    }
    
    }